html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #eee;
}

nav {
    background-color: #39aeb9;
}

nav li:last-child {
    margin-right: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 0px;
}

.button {
    background-color: #39aeb9;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.main-button {
    font-size: 1.5rem;
}
