html {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

body {
    background-color: #eee;
}

nav {
    background-color: #39aeb9;
}

nav li:last-child {
    margin-right: 10px;
}

.container {
    margin-top: 75px;
}


h1 {
    color: #39aeb9;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 0px;
}

#alert {
    padding: 10px 20px;
    font-size: 1.5rem;
    text-align: center;
}

#alert[data-status="true"] {
    background-color: #a5d6a7;
}

#alert[data-status="false"] {
    background-color: #ef9a9a;
}
